<div class="content-header">
  <h1>Applied Attendance Correction</h1>
  <div class="marginTop row">
    <div class="form-group col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="dd-mm-yyyy" aria-describedby="from-date"
          [(ngModel)]="FromDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" bsDatepicker #dpfrom="bsDatepicker"
          placement="bottom left">
        <!--<div *ngIf="showFromDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                  <datepicker [(ngModel)]="FromDate" [showWeeks]="true" (selectionDone)="showFromDatePicker = false;"></datepicker>
              </div>-->
        <span class="input-group-addon" (click)="dpfrom.toggle()" [attr.aria-expanded]="dpfrom.isOpen"><span
            class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
    <div class="form-group col-md-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="dd-mm-yyyy" aria-describedby="to-date" [(ngModel)]="ToDate"
          [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" bsDatepicker #dpto3="bsDatepicker" placement="bottom left">
        <!--<div *ngIf="showToDatePicker" style="position: absolute; z-index:10; min-height:290px;">
                  <datepicker [(ngModel)]="ToDate" [showWeeks]="true" (selectionDone)="showToDatePicker = false;"></datepicker>
              </div>-->
        <span class="input-group-addon" (click)="dpto3.toggle()" [attr.aria-expanded]="dpto3.isOpen"><span
            class="glyphicon glyphicon-calendar"></span></span>
      </div>
    </div>
    <div class="form-group col-md-3">
      <select class="form-control" (change)="onStatusChange($event.target.value)">
        <option value="">All</option>
        <option value="Pending">Pending</option>
        <option value="Approve">Approved</option>
        <option value="Reject">Rejected</option>
      </select>
    </div>
    <div class="form-group col-md-3">
      <div *ngIf="EmployeeList.length != 1">
        <select class="form-control" style="margin-bottom: 10px;" (change)="onEmployeeChange($event.target.value)">
          <option value="">Select Employee</option>
          <option *ngFor='let employee of EmployeeList; trackBy: index;' value="{{employee.EmployeeCode}}">
            {{employee.EmployeeName}}</option>
        </select>
      </div>
    </div>
    <div class="WFHbutton col-md-2">
      <button type="button" class="btn btn-block btn-primary" (click)="Search()">Search</button>
    </div>
  </div>
</div>
<div class="content">
  <div class="loader" [ngClass]="Loader ? '':'hidden'">
    <!---->
    <div class="circle">
      <div class="sk-circle1 sk-circle"></div>
      <div class="sk-circle2 sk-circle"></div>
      <div class="sk-circle3 sk-circle"></div>
      <div class="sk-circle4 sk-circle"></div>
      <div class="sk-circle5 sk-circle"></div>
      <div class="sk-circle6 sk-circle"></div>
      <div class="sk-circle7 sk-circle"></div>
      <div class="sk-circle8 sk-circle"></div>
      <div class="sk-circle9 sk-circle"></div>
      <div class="sk-circle10 sk-circle"></div>
      <div class="sk-circle11 sk-circle"></div>
      <div class="sk-circle12 sk-circle"></div>
    </div>
  </div>
  <div class="box">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover table-black">
        <thead>
          <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Date</th>
            <th>Time In/Out</th>
            <th>Time</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr style="cursor: pointer;" *ngFor="let item of AttendanceCorrectionSummary; let i = index"
            (click)="AttendanceCorrectionPopUp(item)" aria-label="Close">
            <td>{{item.EmployeeCode}}</td>
            <td>{{item.EmployeeName}}</td>
            <td>{{item.Date | date:'dd-MM-yyyy'}}</td>
            <td>{{item.IsCheckedIn === true ? 'CheckIn' : 'CheckOut'}}</td>
            <td>{{item.CorrectionTime}}</td>
            <td *ngIf="item.Status == 'Reject'">Rejected</td>
            <td *ngIf="item.Status == 'Cancel'">Cancelled</td>
            <td *ngIf="item.Status == 'Approve'">Approved</td>
            <td *ngIf="item.Status == 'Pending'">Pending</td>
            <td></td>
            <td><img src="../../assets/Images/right-arrow.png"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!-- A.C Admin PopUp Modal Start -->

<div class="modal-backdrop fade in" [style.display]="AttendanceCorrectionModal ? 'block' : 'none'"></div>
<div class="modal fade in" id="PopUp-TopSec" tabindex="-1" role="dialog"
  [style.display]="AttendanceCorrectionModal ? 'block' : 'none'" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span style="float: right">
          <img style="cursor:pointer;" data-dismiss="modal" aria-label="Close" (click)="AttendanceCorrectionModal=false"
            src="../../assets/Images/cross-button.png">
        </span>
        <h4 class="modal-title">Attendance Correction</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="userInfo">
              <div class="form-group userDP">
                <img src="{{ObjAttendanceCorrectionSummary.EmployeeImage}}">
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="form-group row">
            <div class="col-sm-4">
              <label>Attendance Date</label>
            </div>
            <div class="col-sm-8">
              <span>{{ObjAttendanceCorrectionSummary.Date | date:'dd-MM-yyyy'}}</span>
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-3 v-align">
              <label>{{ObjAttendanceCorrectionSummary.IsCheckedIn === true ? 'CheckIn' : 'CheckOut'}}</label>
            </div>
            <div class="col-sm-9 v-align">
              <timepicker [minuteStep]="1" [(ngModel)]="ChangeCorrectionTime" (isValid)="isValid($event)">
              </timepicker>
              <div *ngIf="!validTime" class="error-message">Invalid time</div>
            </div>

          </div>
          <!--<div class="form-group row">
                              <div class="col-sm-4">
                                      <label>{{ObjAttendanceCorrectionSummary.IsCheckedIn === true ? 'CheckIn' : 'CheckOut'}}</label>
                              </div>
                              <div class="col-sm-8">
                                  <div>
                                      <timepicker [minuteStep]="1" [(ngModel)]="ChangeCorrectionTime" (isValid)="isValid($event)"></timepicker>
                                      <span>{{ObjAttendanceCorrectionSummary.CorrectionTime}}</span>
                                  </div>
                              </div>
                          </div>-->
          <div class="form-group row" *ngIf="ObjAttendanceCorrectionSummary.Status != 'Pending'">
            <div class="col-sm-4">
              <label class="spanMargin" *ngIf="ObjAttendanceCorrectionSummary.Status == 'Reject'">Rejected
                By</label><label class="spanMargin" *ngIf="ObjAttendanceCorrectionSummary.Status == 'Approve'">Approved
                By</label><label class="spanMargin" *ngIf="ObjAttendanceCorrectionSummary.Status == 'Cancel'">Cancelled
                By</label>
            </div>
            <div class="col-sm-8">
              <div>
                <span>{{ObjAttendanceCorrectionSummary.ApprovedByName}}</span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <label class="spanMargin">User Note</label>
              <p>{{ObjAttendanceCorrectionSummary.UserNote}}</p>
            </div>
          </div>
          <div class="form-group row">
            <div class="attendanceCorrectionReason col-sm-12">
              <label class="spanMargin">Reason</label>
              <textarea class="form-control" placeholder="Reason"
                [(ngModel)]="AttendanceCorrectionManagerReason">{{ObjAttendanceCorrectionSummary.ManagerNote}}</textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button style="float: left" type="button" class="btn btn-danger"
          (click)="UpdateAttendanceCorrection(ObjAttendanceCorrectionSummary.TranscationId, 'Reject')">Rejected</button>
        <button type="button" class="btn btn-primary"
          (click)="UpdateAttendanceCorrection(ObjAttendanceCorrectionSummary.TranscationId, 'Approve')">Approved</button>
      </div>
    </div>
  </div>
</div>
<!-- A.C Admin PopUp Modal End -->